@font-face {
	font-family: 'Yekan';
	src: url( 'fonts/yekan/' );
	src: url( 'fonts/yekan/?#iefix' ) format( 'embedded-opentype' ),
		url( 'fonts/yekan/Yekan.woff2' ) format( 'woff2' ),
		url( 'fonts/yekan/Yekan.woff' ) format( 'woff' ),
		url( 'fonts/yekan/Yekan.ttf' ) format( 'truetype' ),
		url( 'fonts/yekan/Yekan.svg#Yekan' ) format( 'svg' );
	font-weight: normal;
	font-style: normal;
}
body {
    margin: 0;
    font: 12pt/2 Yekan, sans-serif;
    background-color: #4d4d4d;
}

body *{
    font-family: Yekan;
    margin: 0;
}
::-webkit-scrollbar{
  width: 0.5vw;
  height: 0.5vw;
}
::-webkit-scrollbar-track{
  background-color: #202020;

}
::-webkit-scrollbar-thumb{
  background-color: #ffcc00;
  border-radius: 10vw;

}
::-webkit-scrollbar-thumb:hover{
  background-color: #ffba00;
  border-radius: 10vw;
  transition: all .30s ease-in-out;

}


a , a:hover , a:visited{
    text-decoration: none;
    transition: all .30s ease-in-out;
}

.container{
  width: 100%;

}
.row{
  position: relative;
  width: 795px;
  height: 1600px;
  background-color: #636363;
  border-radius: 20px;
  right: 25px;
  top: 225px;
}


/* content */
.content{
  max-width: 760px;
  margin: 0 auto;
}
div.content h1{
	text-align:center;
	font-size:2.4em;
}
.directory{
  width: 1220px;
  height: 50px;
  border-radius: 20px;
  background-color: #636363;
  position: absolute;
  top: 150px;
  right: 25px;
}
.directory h3 {
  position: absolute;
  padding: 5px;
  right: 25px;
  color: #fff;
}

/* left footer */
.leftfooter{
  position: relative;
  width: 395px;
  height: 1600px;
  background-color: #636363;
  border-radius: 20px;
  right: 850px;
  top: -1375px;
}

  /* header */

.header{
  top: 0px;
  width: 100%;
  height: 100px;
  background-color: #252525;
  position: fixed;
  box-shadow: 0px 1px 6px rgb(0, 0, 0);
  z-index: 999;
  transition: all .2s ease-in-out;
}
.menu{
  width: 1220px;
  height: 100px;
  background-color: #ffcc00;
  border-radius: 20px;
  top: 25px;
  right: 25px;
  position: relative;
  transition: all .2s ease-in-out;
}
.menu ul{

}
.menu > ul > li{
  float: right;
  list-style: none;
  position: relative;

}
.menu ul li a {
  width: 100px;
  text-align: center;
  color: #1a1a1a;
  font-size: 30px;
  display: inline-block;
  padding: 0 25px;
  margin-right: 25px;
  position: relative;
  top: 20px;
  border-radius: 10px;
  left: 35px;
}
.menu ul li a:hover{
  width: 100px;
  transition: all .5s ease-in-out;
  background-color: #1a1a1a;
  color: #fff;
}

.menu ul li ul{
  width: 200px;
  height: 400px;
  padding: 0 20px;
  border-radius: 10px;
  background-color: #1a1a1a;
  position: absolute;
  top: 100px;
  right: -85px;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;
  z-index: 999;
}
.menu ul li ul li{
  list-style: none;
  float: none;  
}
.menu ul li ul li a{
  width: 100%;
  border-bottom: 1px solid #ddd;
  text-align: right;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
}
.menu ul li ul li a:hover{
  width: 100%;
  color: #ffcc00;
}

.menu ul li:hover ul{
  opacity: 0.8;
  visibility: visible;
  top: 70px;
}

.menu ul li.login a {
  background-color: #2ba91c;
  color: #fff;
}
.menu ul li.login a:hover{
  background-color: #1a1a1a;
  color: #ffcc00;
}

.menu ul li.signup a {
  background-color: #ff5733;
  color: #fff;
}
.menu ul li.signup a:hover{
  background-color: #1a1a1a;
  color: #ffcc00;
}

.profile{
  width: 70px;
  height: 70px;
  background-color: #4d4d4d;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  right: 475px;
}

.profile img{
  width: 70px;
  height: 70px;
  border-radius: 100%;  
}

.logo {
  width: 70px;
  height: 70px;
  background-color: #4d4d4d;
  border-radius: 100%;
  position: absolute;
  top: 40px;
  right: 1155px;
  z-index: 999;
}

.logo img{
  width: 70px;
  height: 70px;
  border-radius: 100%;  
}

button{
    display: block;
    border-bottom: 1px solid #fff;
    color: #fff;
    transition: all .2s ease-in-out;
    background:none;
    cursor:pointer;
    border: 0;
    font-size: 1em;
    padding-top: 20px;
  }
button:hover{
    color: #ffcc00;
  }
  .articles{
    width: 750px;
    height: 763px;
    border-radius: 20px;
    background-color: #ffcc00;
    position: absolute;
    right: 25px;
  }
  
  .article{
    padding: 10px;
    position: relative;
    padding-bottom: 40px;
    top: 20px;
  }
  .article h2,p{
    text-align:center;
    position: relative;
    top: 580px;
  }

.article .author{

}
  .article-detail .article{
	  padding:0;
	  
  }
  .article-detail .article img{ 
	  width:100%;
	  border-radius:20px;
  }
  .article-detail .article h2{ 
	  text-align: center;
    font-size: 2em;
  }
  .article-detail .article h6{ 
	  text-align: center;
  }
  .article-detail .article p{
	  text-align: center;
  }
  
  /* menu icon */
  
  /* .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  /* .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  } */
.site-form{
	margin-top:60px;
	border:1px solid #ffba00;
	padding:10px;
	border-radius:20px;
}
.site-form input,textarea{
	display:block;
	margin:20px 0 0 0;
	padding:10px;
}
.helptext,helptext ul{
	margin: 0 auto 20px;
	color:#bbb;
	font-size:0.9em;
	display:block;
}
.errorlist li{
	padding:10px;
	list-style-type:none;
	border:1px solid #ff5722;
	color:#ff5733;
	border-radius:20px;
	margin:10px0;
}
.errorlist{
	padding:0;
}
.site-form input[type="submit"]{
	border:0;
	font-size:1.2em;
	border-radius:20px;
	background-color:#ffba00;
  cursor: pointer;
  width: 200px;
  margin: 0 auto;
}
.site-form input[type="submit"]:hover{
  background-color: #ffbb0070;
}
.site-form input[type="text"]{
	margin:0 auto;
	width:100%;
	border:0;
	padding: 10px 0;
	margin-top:10px;
	border-radius:20px;
	
}
.site-form input[type="password"]{
	margin:0 auto;
	width:100%;
	border:0;
	padding: 10px 0;
	margin-top:10px;
	border-radius:20px;
	
}
.site-form textarea{
	margin:0 auto;
	width:100%;
	border:0;
	padding:20px 0;
	border-radius:20px;
	resize:unset;
	
}
/* Responsive */

/* Desktop */
@media screen and (min-width:1024px) {

  
}

/* Tablet */
@media screen and (min-width:768px) and (max-width:1023px) {
  
}

/* Smart Phone */
@media screen and (min-width:767px) {
  
}