{% extends 'base.html' %}

{% block title %}
تازه ترین مقالات
{%endblock%}

{% block content %}

    <h1>لیست مقالات</h1>

    <div class="articles">
        {% for art in articles %}
        <div class="article">
            <img src="{{article.image.url}}" alt="">
            <h2><a href="{% url 'articles:detail' slug=art.slug %}">{{art.title}}</a></h2>
            <p>{{art.snippet}}</p>
            <p>{{art.date}}</p>
            <p class="author"> اینو {{art.author.username}} نوشته </p>
            
        </div>
        {% endfor %}
    </div>
    
{%endblock%}

